# ECON 148 Project

### Preliminary Data Cleaning for Replication

In [1]:
# Load in needed packages

import zipfile
import os
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from statsmodels.api import OLS, add_constant
from linearmodels.panel import PanelOLS
from statsmodels.stats.api import anova_lm

In [2]:
# Unzip zip file

zip_path = '../Data/113599-V1.zip'

extract_to = './extracted_data'

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_to)

print(os.listdir(extract_to))

['2013-0533_data--TO-SUBMIT-', 'LICENSE.txt']

In [3]:
# Open .do files to understand how to replicate figures
extract_to = './extracted_data/2013-0533_data--TO-SUBMIT-'
with open(os.path.join(extract_to, '2013-0533_do_figures.do'), 'r') as f:
    content_figures = f.read()

print(content_figures)

/*******************************************************************************
Program Name: 	2013-0533_do_figures
Contact:  		Cynthia Kinnan (c-kinnan@northwestern.edu)
Last Modified: 	5 May 2014
Purpose: 		Replicates all figures from "The miracle of microfinance? Evidence
				from a randomized evaluation" (Banerjee et al.), AEJ, 2014
Files Used: 	2013-0533_data_endlines1and2.dta
Files Created:	figure1.png
				figure2.png
				figure3.png
				figure4.png
*******************************************************************************/
version 13.1
cap log close
clear all
set more off
set mem 100m
pause on

*DATA DIRECTORY
global datadir "C:/Users/hreppst/Dropbox/Spandana/Paper/AEJ Final/Data/"

*OUTPUT DIRECTORY
global outputdir "C:/Users/hreppst/Dropbox/Spandana/Paper/AEJ Final/Data/Output"

*LOG FILE
log using 2013-0533_log_figures.smcl, replace

cd "$outputdir"

********************************************************************************
*******        Figures 1-4: Quantile Treatment Effect Regressions       ********
********************************************************************************
use "$datadir/2013-0533_data_endlines1and2.dta", clear

*Generate business profit variables, restricting to those households that:
*		(a) Had an old business (older than 1 year) at EL1;
*		(b) Had a new business (younger than 1 year) at EL1; and
*		(c) Had a business at EL2.
gen bizprofit_1_old    = bizprofit_1 if any_old_biz==1
gen bizprofit_1_new	   = bizprofit_1 if any_old_biz==0 & any_biz_1==1
gen bizprofit_2_biz    = bizprofit_2 if any_biz_2==1

*For each variable of interest, use bootstrapped quantile regressions to estimate
*quantile treatment effects, using intervals of .02:
program myqreg
	version 10.1
	syntax [varlist] [if] [in] [, *]
 if replay() {
		 _coef_table, `options'

		exit

	 }
	 qreg `0'
end

*Set seed:
set seed 65209844

foreach var of varlist informal_amt_1 bizprofit_1_old bizprofit_1_new bizprofit_2_biz {
	preserve

	forval i=.05(.02).97 {
		di `i'

		*OLS regression:
		reg `var' treatment, cluster(areaid)
		scalar betaols=_b[treatment]

		*Quantile regression:
		bs, reps(500) cluster(areaid): myqreg `var' treatment, q(`i') level(90)
		scalar beta = _b[treatment]
		scalar sigma = _se[treatment]

		scalar ts = invttail(e(N), 0.05)
		scalar cil = beta - (ts*sigma)
		scalar ciu = beta + (ts*sigma)
		matrix `var'_qreg = [nullmat(`var'_qreg) \ `i', betaols, beta, cil, ciu]
		}

	clear
	svmat `var'_qreg
	ren `var'_qreg1 qtile
	ren `var'_qreg2 ols_treatment
	ren `var'_qreg3 treatment
	ren `var'_qreg4 treatment_cilo
	ren `var'_qreg5 treatment_cihi

	tempfile `var'
	save ``var'', replace

	restore
}


********************************************************************************
*****       Fig. 1: Quantile Treatment Effects, Informal Borrowing        ******
********************************************************************************
use `informal_amt_1', clear

gen y0=0
gen Percentile=qtile*100
replace y0=. if Percentile<5 | Percentile>95
format treatment ols_treatment treatment_cihi treatment_cilo %6.0f

*Truncating confidence intervals for better visualization:
replace treatment_cihi=20000 if treatment_cihi>20000
replace treatment_cihi=. if Percentile==95

label var treatment "Quantile treatment effect"
label var ols_treatment "OLS"
la var treatment_cihi "90% C.I"

twoway (line ols_treatment Percentile, lpattern(dash)) ///
	   (line treatment Percentile, lwidth(medthick) lcolor(gray lpattern(line))) ///
	   (line y0 Percentile, lcolor(black)) ///
	   (line treatment_cihi Percentile, lwidth(thin) lpattern(longdash_dot_dot) lcolor(navy)) ///
	   (line treatment_cilo Percentile, lwidth(thin) lpattern(longdash_dot_dot) lcolor(navy)), ///
	    xlabel(5 10 20 30 40 50 60 70 80 90 95) ///
		ylabel(-18000 -6000 0 6000 18000) ///
		title(Treatment effect on informal borrowing*) ///
		subtitle((endline 1)) ///
		scheme(s1manual) legend(order(1 2 4)) legend(rows(1))
graph export "figure1.png", replace


********************************************************************************
**   Fig. 2: Quantile Treatment Effects, Endline 1 Profits (Old Businesses)   **
********************************************************************************
use `bizprofit_1_old', clear

gen y0=0
gen Percentile=qtile*100
replace y0=. if Percentile<5 | Percentile>95
format treatment ols_treatment treatment_cihi treatment_cilo %6.0f

label var treatment "Quantile treatment effect"
label var ols_treatment "OLS"
la var treatment_cihi "90% C.I"

twoway (line ols_treatment Percentile, lpattern(dash)) ///
	   (line treatment Percentile, lwidth(medthick) lcolor(gray lpattern(line))) ///
	   (line y0 Percentile, lcolor(black)) ///
	   (line treatment_cihi Percentile, lwidth(thin) lpattern(longdash_dot_dot) lcolor(navy)) ///
	   (line treatment_cilo Percentile, lwidth(thin) lpattern(longdash_dot_dot) lcolor(navy)), ///
	    xlabel(5 10 20 30 40 50 60 70 80 90 95) ///
	    ylabel(-3000(3000)9000) ///
		title(Treatment effect on business profits) ///
		subtitle((HHs who have an old business*, endline 1)) ///
		scheme(s1manual) legend(order(1 2 4)) legend(rows(1))
graph export "figure2.png", replace


********************************************************************************
**   Fig. 3: Quantile Treatment Effects, Endline 1 Profits (New Businesses)   **
********************************************************************************
use `bizprofit_1_new', clear

gen y0=0
gen Percentile=qtile*100
replace y0=. if Percentile<5 | Percentile>95
format treatment ols_treatment treatment_cihi treatment_cilo %6.0f

label var treatment "Quantile treatment effect"
label var ols_treatment "OLS"
la var treatment_cihi "90% C.I"

*Truncating confidence intervals for better visualization:
replace treatment_cihi=12000 if treatment_cihi>12000
replace treatment_cilo=-12000 if treatment_cilo<-12000

twoway (line ols_treatment Percentile, lpattern(dash)) ///
	   (line treatment Percentile, lwidth(medthick) lcolor(gray lpattern(line))) ///
	   (line y0 Percentile, lcolor(black)) ///
	   (line treatment_cihi Percentile, lwidth(thin) lpattern(longdash_dot_dot) lcolor(navy)) ///
	   (line treatment_cilo Percentile, lwidth(thin) lpattern(longdash_dot_dot) lcolor(navy)), ///
	    xlabel(5 10 20 30 40 50 60 70 80 90 95) ///
	    ylabel(-12000(6000)12000) ///
		title(Treatment effect on business profits) ///
		subtitle((HHs who have a new business*, endline 1)) ///
		scheme(s1manual) legend(order(1 2 4)) legend(rows(1))
graph export "figure3.png", replace


********************************************************************************
**   Fig. 4: Quantile Treatment Effects, Endline 2 Profits (All Businesses)   **
********************************************************************************
use `bizprofit_2_biz', clear

gen y0=0
gen Percentile=qtile*100
replace y0=. if Percentile<5 | Percentile>95
format treatment ols_treatment treatment_cihi treatment_cilo %6.0f

label var treatment "Quantile treatment effect"
label var ols_treatment "OLS"
la var treatment_cihi "90% C.I"

*Truncating confidence intervals for better visualization:
replace treatment_cihi=. if treatment_cihi>6000

twoway (line ols_treatment Percentile, lpattern(dash)) ///
	   (line treatment Percentile, lwidth(medthick) lcolor(gray lpattern(line))) ///
	   (line y0 Percentile, lcolor(black)) ///
	   (line treatment_cihi Percentile, lwidth(thin) lpattern(longdash_dot_dot) lcolor(navy)) ///
	   (line treatment_cilo Percentile, lwidth(thin) lpattern(longdash_dot_dot) lcolor(navy)), ///
	    xlabel(5 10 20 30 40 50 60 70 80 90 95) ///
	    ylabel(-1500(1500)6000) ///
		title(Treatment effect on business profits) ///
		subtitle((full sample of business owners, endline 2)) ///
		scheme(s1manual) legend(order(1 2 4)) legend(rows(1))
graph export "figure4.png", replace


log close

In [4]:
# Open .do files to understand how to replicate tables

with open(os.path.join(extract_to, '2013-0533_do_tables.do'), 'r') as f:
    content_tables = f.read()

print(content_tables[:5000])

/*******************************************************************************
Program Name: 	2013-0533_do_tables
Contact:  		Cynthia Kinnan (c-kinnan@northwestern.edu)
Last Modified: 	5 May 2014
Purpose: 		Replicates all tables from "The miracle of microfinance? Evidence
				from a randomized evaluation" (Banerjee et al.), AEJ, 2014
Files Used: 	2013-0533_data_baseline.dta
				2013-0533_data_endlines1and2.dta
				2013-0533_data_census.dta
				2013-0533_data_endline1businesstype.dta
Files Created:	table1a.txt
				table1b.txt
				table2.txt
				table3.txt
				table3b.txt
				table3c.txt
				table4.txt
				table5.txt
				table6.txt
				table7.txt
				table_index_pvals.txt
				tableA1.txt
				tableA2.txt
				tableA3.txt
				tableA4.txt
				tableA5.txt
*******************************************************************************/
cap log close
clear all
set more off
set mem 100m
pause on

*DATA DIRECTORY
global datadir "C:/Users/hreppst/Dropbox/Spandana/Paper/AEJ Final/Data/"

*OUTPUT DIRECTORY
global outputdir "C:/Users/hreppst/Dropbox/Spandana/Paper/AEJ Final/Data/Output"

*LOG FILE
log using 2013-0533_log_tables.smcl, replace

*CONTROLS FOR BASELINE VARIABLES
global area_controls "area_pop_base area_debt_total_base area_business_total_base area_exp_pc_mean_base area_literate_head_base area_literate_base"

cd "$outputdir"

********************************************************************************
*************        Table 1A: Baseline Summary Statistics        **************
********************************************************************************
use "$datadir/2013-0533_data_baseline.dta", clear

local hh_composition "hh_size adult children male_head head_age head_noeduc"
local credit_access "spandana othermfi bank informal anyloan"
local loan_amt "spandana_amt othermfi_amt bank_amt informal_amt anyloan_amt"
local self_emp_activ "total_biz female_biz female_biz_pct"
local businesses "bizrev bizexpense bizinvestment bizemployees hours_weekbiz"
local businesses_allHH "bizrev_allHH bizexpense_allHH bizinvestment_allHH bizemployees_allHH hours_weekbiz_allHH"
local consumption "total_exp_mo nondurable_exp_mo durables_exp_mo home_durable_index"

local allvars "`hh_composition' `credit_access' `loan_amt' `self_emp_activ' `businesses' `businesses_allHH' `consumption'"


*1) Generate variables for business outcomes for all households (replacing each
*	variable with 0 for households without a business):
foreach var in `businesses' {
	gen `var'_allHH=`var'
	replace `var'_allHH=0 if total_biz==0
	}

*2) Create summary statistics table:
scalar drop _all
foreach var of varlist `allvars' {
	sum `var' if treatment==0
	scalar `var'_N=r(N)
	scalar `var'_c=r(mean)
	scalar sd`var'_c=r(sd)
	reg `var' treatment, cluster(areaid)
	mat beta`var'=e(b)
	scalar `var'_d=beta`var'[1,1]
	test treatment=0
	scalar pval_`var'=r(p)
	matrix Table1A = [nullmat(Table1A) \ `var'_N, `var'_c, sd`var'_c, `var'_d, pval_`var']
	}
matrix rownames Table1A = `allvars'
matrix colnames Table1A = Obs Control_mean Control_sd Difference p_val
mat2txt, matrix(Table1A) saving("$outputdir/table1a.txt") replace


********************************************************************************
*************         Table 1B: Endline Summary Statistics        **************
********************************************************************************
use "$datadir/2013-0533_data_endlines1and2.dta", clear

local hh_composition "hhsize adults children male_head head_age head_noeduc"
local credit_access "spandana othermfi anybank anyinformal anyloan"
local loan_amt "spandana_amt othermfi_amt bank_amt informal_amt anyloan_amt"
local self_emp_activ "total_biz female_biz_allHH female_biz_pct"
local businesses "bizrev bizexpense bizinvestment bizemployees hours_week_biz"
local businesses_allHH "bizrev_allHH bizexpense_allHH bizinvestment_allHH bizemployees_allHH hours_week_biz_allHH"
local consumption "total_exp_mo nondurable_exp_mo durables_exp_mo home_durable_index"

local allvars "`hh_composition' `credit_access' `loan_amt' `self_emp_activ' `businesses' `businesses_allHH' `consumption'"


*1) Generate variables for business outcomes for all households (replacing each
*	variable with missing for households without a business):
forval i = 1/2 {
	foreach var in `businesses' female_biz {
			gen `var'_allHH_`i'=`var'_`i'
			replace `var'_`i'=. if total_biz_`i'==0
			}
	}

*2) Reshape to one observation per household per endline:
foreach var in `allvars' {
	rename `var'_1 `var'1
	rename `var'_2 `var'2
	}

reshape long `allvars', i(hhid) j(endline)
keep hhid areaid endline treatment `allvars'
tab endline, gen(endline)

*3) Create summary statistics table:
scalar drop _all
foreach var of varlist `allvars' {
	sum `var' if treatment==0 & endline==1
	scalar `var'_N_el1=r(N)
	scalar `var'_c_el1=r(mean)
	scalar sd`var'_c_el1=r(sd)

	sum `var' if treatment==0 & endline==2
	scalar `var'_N_el2=r(N)
	scalar `var'_c_el2=r(mean)
	scalar sd`var'_c_el2=r(sd)

In [5]:
# Create paths for .dta files
file_path = os.path.join(extract_to, '2013-0533_data_endlines1and2.dta')

file_path_2 = os.path.join(extract_to, '2013-0533_data_baseline.dta')

file_path_3 = os.path.join(extract_to, '2013-0533_data_census.dta')

file_path_4 = os.path.join(extract_to, '2013-0533_data_endline1businesstype.dta')

# Create DataFrames for the different .dta files
endlines = pd.read_stata(file_path)

baseline = pd.read_stata(file_path_2)

census = pd.read_stata(file_path_3)

endlines = pd.read_stata(file_path_4)

In [6]:
# First 5 rows of DataFrames

# endlines.head()

In [7]:
# baseline.head()

In [8]:
# census.head()

In [9]:
# endlines.head()

### Table 1A Replication

In [10]:
# Create groups for variables in baseline DataFrame

hh_composition = ["hh_size", "adults", "children", "male_head", "head_age", "head_noeduc"]
credit_access = ["spandana", "othermfi", "bank", "informal", "anyloan"]
loan_amt = ["spandana_amt", "othermfi_amt", "bank_amt", "informal_amt", "anyloan_amt"]
self_emp_activ = ["total_biz", "female_biz", "female_biz_pct"]
businesses = ["bizrev", "bizexpense", "bizinvestment", "bizemployees", "hours_weekbiz"]

# Create group for businesses variables
businesses_allHH = []

# Create variables for businesses variables representing 1 if total_biz is 1 and 0 if total_biz is 0
for var in businesses:
    new_var = f"{var}_allHH"
    businesses_allHH.append(new_var)
    baseline[new_var] = baseline[var]
    baseline.loc[baseline["total_biz"] == 0, new_var] = 0

# Create group for consumption variables

consumption = ["total_exp_mo", "nondurable_exp_mo", "durables_exp_mo", "home_durable_index"]

# Make list with all variables
allvars = hh_composition + credit_access + loan_amt + self_emp_activ + businesses + businesses_allHH + consumption

In [11]:
# Drop NAs

baseline = baseline[baseline['treatment'].notna()]
baseline = baseline.reset_index()

# Convert treatment to binary: 1 = Treatment, 0 = Control
baseline["treatment_binary"] = baseline["treatment"].astype(str).map({"Control": 0, "Treatment": 1})

In [12]:
# Convert categorical columns to object type first
baseline['spandana'] = baseline['spandana'].astype('object')
baseline['othermfi'] = baseline['othermfi'].astype('object')
baseline['bank'] = baseline['bank'].astype('object')
baseline['informal'] = baseline['informal'].astype('object')
baseline['anyloan'] = baseline['anyloan'].astype('object')

# Replace 'Yes' with 1, 'No' with 0
baseline['spandana'].replace({'Yes': 1, 'No': 0}, inplace=True)
baseline['othermfi'].replace({'Yes': 1, 'No': 0}, inplace=True)
baseline['bank'].replace({'Yes': 1, 'No': 0}, inplace=True)
baseline['informal'].replace({'Yes': 1, 'No': 0}, inplace=True)
baseline['anyloan'].replace({'Yes': 1, 'No': 0}, inplace=True)

# Fill NaN with -1
baseline['spandana'].fillna(-1, inplace=True)
baseline['othermfi'].fillna(-1, inplace=True)
baseline['bank'].fillna(-1, inplace=True)
baseline['informal'].fillna(-1, inplace=True)
baseline['anyloan'].fillna(-1, inplace=True)

In [13]:
import statsmodels.api as sm

# List of variables to include
vars_to_analyze = ['spandana', 'othermfi', 'bank', 'informal', 'anyloan']

# Prepare output list
table1a_binary_results = []

# Ensure binary treatment and areaid category
baseline['treatment_binary'] = baseline['treatment'].map({'Control': 0, 'Treatment': 1}).astype(int)
baseline['areaid'] = baseline['areaid'].astype('category')

for var in vars_to_analyze:
    temp = baseline[[var, 'treatment_binary', 'areaid']].copy()
    temp = temp[temp[var].isin([0, 1])]
    temp = temp.dropna(subset=[var, 'treatment_binary', 'areaid'])

    if temp.empty:
        table1a_results.append([None, None, None, None, None])
        continue

    control = temp[temp['treatment_binary'] == 0]
    N = control.shape[0]
    mean_c = control[var].mean()
    std_c = control[var].std()

    temp['const'] = 1.0
    model = sm.OLS(temp[var], temp[['const', 'treatment_binary']])
    results = model.fit(cov_type='cluster', cov_kwds={'groups': temp['areaid']})

    diff = results.params['treatment_binary']
    p_val = results.pvalues['treatment_binary']

    table1a_binary_results.append([N, mean_c, std_c, diff, p_val])

# Create results DataFrame
table1a_binary_df = pd.DataFrame(table1a_binary_results,
                          columns=["Obs", "Control_mean", "Control_sd", "Difference_in_mean", "P_val"],
                          index=vars_to_analyze)

table1a_binary_df

           Obs  Control_mean  Control_sd  Difference_in_mean     P_val
spandana  1213      0.000000    0.000000            0.006568  0.192208
othermfi  1213      0.010717    0.103010            0.006524  0.450831
bank      1213      0.036274    0.187047            0.001493  0.858449
informal  1213      0.632317    0.482373            0.001509  0.958114
anyloan   1213      0.680132    0.466618            0.002134  0.941766

In [14]:
import statsmodels.api as sm

# Define full list of variables you want to analyze
# (This must be defined earlier in your script)
# Example:
# allvars = ['income', 'savings', 'education', 'spandana', 'othermfi', ...]

# Binary vars to exclude
vars_to_analyze = ['spandana', 'othermfi', 'bank', 'informal', 'anyloan']

# Filter to continuous variables only
non_binary_vars = [var for var in allvars if var not in vars_to_analyze]

# Prepare output list
table1a_nonbinary_results = []


for var in non_binary_vars:
    temp = baseline[[var, 'treatment_binary', 'areaid']].copy()

    # Control group stats
    control = temp[temp['treatment_binary'] == 0]
    N = control.shape[0]
    mean_c = control[var].mean()
    std_c = control[var].std()

    # Regression
    temp['const'] = 1.0
    model = sm.OLS(temp[var], temp[['const', 'treatment_binary']])
    results = model.fit(cov_type='cluster', cov_kwds={'groups': temp['areaid']})

    # Extract results
    diff = results.params['treatment_binary']
    p_val = results.pvalues['treatment_binary']

    table1a_nonbinary_results.append([N, mean_c, std_c, diff, p_val])

# Create final results table
table1a_nonbinary_df = pd.DataFrame(table1a_nonbinary_results,
                          columns=["Obs", "Control_mean", "Control_sd", "Difference_in_mean", "P_val"],
                          index=non_binary_vars)
table1a_nonbinary_df

,Obs,Control_mean,Control_sd,Difference_in_mean,P_val
hh_size,1220,5.037705,1.666212,0.095082,0.300973
adults,1220,3.438525,1.465599,-0.011475,0.872767
children,1220,1.599180,1.228256,0.104098,0.095204
male_head,1220,0.907072,0.290450,NaN,NaN
head_age,1220,41.149671,10.839448,NaN,NaN
head_noeduc,1220,0.370066,0.483021,NaN,NaN
spandana_amt,1220,0.000000,0.000000,NaN,NaN
othermfi_amt,1220,201.154163,2742.363893,NaN,NaN
bank_amt,1220,7438.169827,173268.343989,NaN,NaN
informal_amt,1220,28460.016488,65312.155700,NaN,NaN
anyloan_amt,1220,37892.003298,191291.569163,NaN,NaN
total_biz,1220,0.319672,0.682205,-0.018852,0.577850
female_biz,1220,0.145082,0.400288,-0.006557,0.749191
female_biz_pct,1220,0.488281,0.482350,NaN,NaN
bizrev,1220,15990.644068,53488.748349,NaN,NaN
bizexpense,1220,3617.416016,26144.033203,NaN,NaN
bizinvestment,1220,384.711864,3156.815002,NaN,NaN
bizemployees,1220,0.169492,0.827925,NaN,NaN
hours_weekbiz,1220,76.315254,66.054443,NaN,NaN
bizrev_allHH,1220,3866.590164,27146.786829,903.649180,0.624753
bizexpense_allHH,1220,874.703064,12932.665039,116.496154,0.811432
bizinvestment_allHH,1220,93.024590,1559.052264,-0.098361,0.998827
bizemployees_allHH,1220,0.040984,0.413027,NaN,NaN
hours_weekbiz_allHH,1220,18.453279,46.053651,NaN,NaN
total_exp_mo,1220,4888.431152,4074.372314,269.682678,0.229419
nondurable_exp_mo,1220,4734.685367,3839.802498,251.819291,0.231833
durables_exp_mo,1220,153.745696,584.594145,17.863388,0.529815
home_durable_index,1220,1.941369,0.829068,0.026944,0.667981

In [15]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# Assume allvars is already defined
# Example:
# allvars = list(baseline.columns)

# Binary vars to exclude from this loop
binary_vars = ['spandana', 'othermfi', 'bank', 'informal', 'anyloan']
non_binary_vars = [var for var in allvars if var not in binary_vars]

# Store regression results here
table1a_nonbinary_results = []

for var in non_binary_vars:
    temp = baseline[[var, 'treatment_binary', 'areaid']].copy()

    # Drop rows with missing values to avoid crash
    temp = temp.dropna()

    # Control group stats
    control = temp[temp['treatment_binary'] == 0]
    N = control.shape[0]
    mean_c = control[var].mean()
    std_c = control[var].std()

    # Default values if regression fails
    diff = np.nan
    p_val = np.nan

    # Check if both treatment and variable have variation
    if temp[var].std() > 0 and temp['treatment_binary'].std() > 0:
        try:
            temp['const'] = 1.0
            model = sm.OLS(temp[var], temp[['const', 'treatment_binary']])
            results = model.fit(cov_type='cluster', cov_kwds={'groups': temp['areaid']})
            diff = results.params['treatment_binary']
            p_val = results.pvalues['treatment_binary']
        except:
            # You can print/log here if needed
            diff = np.nan
            p_val = np.nan
    else:
        # No variation = no regression → set safe defaults
        diff = 0.0
        p_val = 1.0

    table1a_nonbinary_results.append([N, mean_c, std_c, diff, p_val])

# Build final DataFrame
table1a_nonbinary_df = pd.DataFrame(
    table1a_nonbinary_results,
    columns=["Obs", "Control_mean", "Control_sd", "Difference_in_mean", "P_val"],
    index=non_binary_vars
)

# Optional: sort or save
# table1a_nonbinary_df.to_csv("table1a.csv")

# View the table
table1a_nonbinary_df

,Obs,Control_mean,Control_sd,Difference_in_mean,P_val
hh_size,1220,5.037705,1.666212,0.095082,0.300973
adults,1220,3.438525,1.465599,-0.011475,0.872767
children,1220,1.599180,1.228256,0.104098,0.095204
male_head,1216,0.907072,0.290450,-0.012249,0.379004
head_age,1216,41.149671,10.839448,-0.243498,0.675317
head_noeduc,1216,0.370066,0.483021,-0.007699,0.786380
spandana_amt,1213,0.000000,0.000000,68.965517,0.188973
othermfi_amt,1213,201.154163,2742.363893,170.356510,0.567014
bank_amt,1213,7438.169827,173268.343989,-5419.696920,0.276039
informal_amt,1213,28460.016488,65312.155700,-570.459838,0.855498
anyloan_amt,1213,37892.003298,191291.569163,-5878.555022,0.340750
total_biz,1220,0.319672,0.682205,-0.018852,0.577850
female_biz,1220,0.145082,0.400288,-0.006557,0.749191
female_biz_pct,295,0.488281,0.482350,-0.005593,0.903809
bizrev,295,15990.644068,53488.748349,4501.229172,0.537507
bizexpense,295,3617.416016,26144.033203,640.552420,0.749994
bizinvestment,295,384.711864,3156.815002,14.478276,0.958423
bizemployees,295,0.169492,0.827925,0.254537,0.144821
hours_weekbiz,295,76.315254,66.054443,-4.587339,0.411575
bizrev_allHH,1220,3866.590164,27146.786829,903.649180,0.624753
bizexpense_allHH,1220,874.703064,12932.665039,116.496154,0.811432
bizinvestment_allHH,1220,93.024590,1559.052264,-0.098361,0.998827
bizemployees_allHH,1220,0.040984,0.413027,0.057458,0.162884
hours_weekbiz_allHH,1220,18.453279,46.053651,-1.801105,0.398350
total_exp_mo,1220,4888.431152,4074.372314,269.682678,0.229419
nondurable_exp_mo,1220,4734.685367,3839.802498,251.819291,0.231833
durables_exp_mo,1220,153.745696,584.594145,17.863388,0.529815
home_durable_index,1220,1.941369,0.829068,0.026944,0.667981

In [16]:
# View the table
table1a_nonbinary_df

,Obs,Control_mean,Control_sd,Difference_in_mean,P_val
hh_size,1220,5.037705,1.666212,0.095082,0.300973
adults,1220,3.438525,1.465599,-0.011475,0.872767
children,1220,1.599180,1.228256,0.104098,0.095204
male_head,1216,0.907072,0.290450,-0.012249,0.379004
head_age,1216,41.149671,10.839448,-0.243498,0.675317
head_noeduc,1216,0.370066,0.483021,-0.007699,0.786380
spandana_amt,1213,0.000000,0.000000,68.965517,0.188973
othermfi_amt,1213,201.154163,2742.363893,170.356510,0.567014
bank_amt,1213,7438.169827,173268.343989,-5419.696920,0.276039
informal_amt,1213,28460.016488,65312.155700,-570.459838,0.855498
anyloan_amt,1213,37892.003298,191291.569163,-5878.555022,0.340750
total_biz,1220,0.319672,0.682205,-0.018852,0.577850
female_biz,1220,0.145082,0.400288,-0.006557,0.749191
female_biz_pct,295,0.488281,0.482350,-0.005593,0.903809
bizrev,295,15990.644068,53488.748349,4501.229172,0.537507
bizexpense,295,3617.416016,26144.033203,640.552420,0.749994
bizinvestment,295,384.711864,3156.815002,14.478276,0.958423
bizemployees,295,0.169492,0.827925,0.254537,0.144821
hours_weekbiz,295,76.315254,66.054443,-4.587339,0.411575
bizrev_allHH,1220,3866.590164,27146.786829,903.649180,0.624753
bizexpense_allHH,1220,874.703064,12932.665039,116.496154,0.811432
bizinvestment_allHH,1220,93.024590,1559.052264,-0.098361,0.998827
bizemployees_allHH,1220,0.040984,0.413027,0.057458,0.162884
hours_weekbiz_allHH,1220,18.453279,46.053651,-1.801105,0.398350
total_exp_mo,1220,4888.431152,4074.372314,269.682678,0.229419
nondurable_exp_mo,1220,4734.685367,3839.802498,251.819291,0.231833
durables_exp_mo,1220,153.745696,584.594145,17.863388,0.529815
home_durable_index,1220,1.941369,0.829068,0.026944,0.667981

In [17]:
# Find index position of 'head_age'
insert_loc = table1a_nonbinary_df.index.get_loc('head_noeduc') + 1

# Split the nonbinary table into two parts: before and after insertion point
top = table1a_nonbinary_df.iloc[:insert_loc]
bottom = table1a_nonbinary_df.iloc[insert_loc:]

# Combine with the binary df inserted in the middle
table1a_combined_df = pd.concat([top, table1a_binary_df, bottom])

# Optional: reset the index name if you want to make it cleaner for output
table1a_combined_df.index.name = 'Variable'

In [18]:
# Round all float values to 3 decimal places
table1a_combined_df = table1a_combined_df.round(3)

# View the result
table1a_combined_df

                      Obs  Control_mean  Control_sd  Difference_in_mean  P_val
Variable
hh_size              1220         5.038       1.666               0.095  0.301
adults               1220         3.439       1.466              -0.011  0.873
children             1220         1.599       1.228               0.104  0.095
male_head            1216         0.907       0.290              -0.012  0.379
head_age             1216        41.150      10.839              -0.243  0.675
head_noeduc          1216         0.370       0.483              -0.008  0.786
spandana             1213         0.000       0.000               0.007  0.192
othermfi             1213         0.011       0.103               0.007  0.451
bank                 1213         0.036       0.187               0.001  0.858
informal             1213         0.632       0.482               0.002  0.958
anyloan              1213         0.680       0.467               0.002  0.942
spandana_amt         1213         0.000       0.000              68.966  0.189
othermfi_amt         1213       201.154    2742.364             170.357  0.567
bank_amt             1213      7438.170  173268.344           -5419.697  0.276
informal_amt         1213     28460.016   65312.156            -570.460  0.855
anyloan_amt          1213     37892.003  191291.569           -5878.555  0.341
total_biz            1220         0.320       0.682              -0.019  0.578
female_biz           1220         0.145       0.400              -0.007  0.749
female_biz_pct        295         0.488       0.482              -0.006  0.904
bizrev                295     15990.644   53488.748            4501.229  0.538
bizexpense            295      3617.416   26144.033             640.552  0.750
bizinvestment         295       384.712    3156.815              14.478  0.958
bizemployees          295         0.169       0.828               0.255  0.145
hours_weekbiz         295        76.315      66.054              -4.587  0.412
bizrev_allHH         1220      3866.590   27146.787             903.649  0.625
bizexpense_allHH     1220       874.703   12932.665             116.496  0.811
bizinvestment_allHH  1220        93.025    1559.052              -0.098  0.999
bizemployees_allHH   1220         0.041       0.413               0.057  0.163
hours_weekbiz_allHH  1220        18.453      46.054              -1.801  0.398
total_exp_mo         1220      4888.431    4074.372             269.683  0.229
nondurable_exp_mo    1220      4734.685    3839.802             251.819  0.232
durables_exp_mo      1220       153.746     584.594              17.863  0.530
home_durable_index   1220         1.941       0.829               0.027  0.668

## Table 1B

In [19]:
# Open .do files to understand how to replicate tables

with open(os.path.join(extract_to, '2013-0533_do_tables.do'), 'r') as f:
    content_tables = f.read()

print(content_tables[:6000])

/*******************************************************************************
Program Name: 	2013-0533_do_tables
Contact:  		Cynthia Kinnan (c-kinnan@northwestern.edu)
Last Modified: 	5 May 2014
Purpose: 		Replicates all tables from "The miracle of microfinance? Evidence
				from a randomized evaluation" (Banerjee et al.), AEJ, 2014
Files Used: 	2013-0533_data_baseline.dta
				2013-0533_data_endlines1and2.dta
				2013-0533_data_census.dta
				2013-0533_data_endline1businesstype.dta
Files Created:	table1a.txt
				table1b.txt
				table2.txt
				table3.txt
				table3b.txt
				table3c.txt
				table4.txt
				table5.txt
				table6.txt
				table7.txt
				table_index_pvals.txt
				tableA1.txt
				tableA2.txt
				tableA3.txt
				tableA4.txt
				tableA5.txt
*******************************************************************************/
cap log close
clear all
set more off
set mem 100m
pause on

*DATA DIRECTORY
global datadir "C:/Users/hreppst/Dropbox/Spandana/Paper/AEJ Final/Data/"

*OUTPUT DIRECTORY
global outputdir "C:/Users/hreppst/Dropbox/Spandana/Paper/AEJ Final/Data/Output"

*LOG FILE
log using 2013-0533_log_tables.smcl, replace

*CONTROLS FOR BASELINE VARIABLES
global area_controls "area_pop_base area_debt_total_base area_business_total_base area_exp_pc_mean_base area_literate_head_base area_literate_base"

cd "$outputdir"

********************************************************************************
*************        Table 1A: Baseline Summary Statistics        **************
********************************************************************************
use "$datadir/2013-0533_data_baseline.dta", clear

local hh_composition "hh_size adult children male_head head_age head_noeduc"
local credit_access "spandana othermfi bank informal anyloan"
local loan_amt "spandana_amt othermfi_amt bank_amt informal_amt anyloan_amt"
local self_emp_activ "total_biz female_biz female_biz_pct"
local businesses "bizrev bizexpense bizinvestment bizemployees hours_weekbiz"
local businesses_allHH "bizrev_allHH bizexpense_allHH bizinvestment_allHH bizemployees_allHH hours_weekbiz_allHH"
local consumption "total_exp_mo nondurable_exp_mo durables_exp_mo home_durable_index"

local allvars "`hh_composition' `credit_access' `loan_amt' `self_emp_activ' `businesses' `businesses_allHH' `consumption'"


*1) Generate variables for business outcomes for all households (replacing each
*	variable with 0 for households without a business):
foreach var in `businesses' {
	gen `var'_allHH=`var'
	replace `var'_allHH=0 if total_biz==0
	}

*2) Create summary statistics table:
scalar drop _all
foreach var of varlist `allvars' {
	sum `var' if treatment==0
	scalar `var'_N=r(N)
	scalar `var'_c=r(mean)
	scalar sd`var'_c=r(sd)
	reg `var' treatment, cluster(areaid)
	mat beta`var'=e(b)
	scalar `var'_d=beta`var'[1,1]
	test treatment=0
	scalar pval_`var'=r(p)
	matrix Table1A = [nullmat(Table1A) \ `var'_N, `var'_c, sd`var'_c, `var'_d, pval_`var']
	}
matrix rownames Table1A = `allvars'
matrix colnames Table1A = Obs Control_mean Control_sd Difference p_val
mat2txt, matrix(Table1A) saving("$outputdir/table1a.txt") replace


********************************************************************************
*************         Table 1B: Endline Summary Statistics        **************
********************************************************************************
use "$datadir/2013-0533_data_endlines1and2.dta", clear

local hh_composition "hhsize adults children male_head head_age head_noeduc"
local credit_access "spandana othermfi anybank anyinformal anyloan"
local loan_amt "spandana_amt othermfi_amt bank_amt informal_amt anyloan_amt"
local self_emp_activ "total_biz female_biz_allHH female_biz_pct"
local businesses "bizrev bizexpense bizinvestment bizemployees hours_week_biz"
local businesses_allHH "bizrev_allHH bizexpense_allHH bizinvestment_allHH bizemployees_allHH hours_week_biz_allHH"
local consumption "total_exp_mo nondurable_exp_mo durables_exp_mo home_durable_index"

local allvars "`hh_composition' `credit_access' `loan_amt' `self_emp_activ' `businesses' `businesses_allHH' `consumption'"


*1) Generate variables for business outcomes for all households (replacing each
*	variable with missing for households without a business):
forval i = 1/2 {
	foreach var in `businesses' female_biz {
			gen `var'_allHH_`i'=`var'_`i'
			replace `var'_`i'=. if total_biz_`i'==0
			}
	}

*2) Reshape to one observation per household per endline:
foreach var in `allvars' {
	rename `var'_1 `var'1
	rename `var'_2 `var'2
	}

reshape long `allvars', i(hhid) j(endline)
keep hhid areaid endline treatment `allvars'
tab endline, gen(endline)

*3) Create summary statistics table:
scalar drop _all
foreach var of varlist `allvars' {
	sum `var' if treatment==0 & endline==1
	scalar `var'_N_el1=r(N)
	scalar `var'_c_el1=r(mean)
	scalar sd`var'_c_el1=r(sd)

	sum `var' if treatment==0 & endline==2
	scalar `var'_N_el2=r(N)
	scalar `var'_c_el2=r(mean)
	scalar sd`var'_c_el2=r(sd)

	reg `var' endline2 if treatment==0, cluster(areaid)
	mat beta`var'=e(b)
	scalar `var'_d=beta`var'[1,1]
	test endline2=0
	scalar pval_`var'=r(p)

	matrix Table1B = [nullmat(Table1B) \ `var'_N_el1, `var'_c_el1, sd`var'_c_el1, `var'_N_el2, `var'_c_el2, sd`var'_c_el2, `var'_d, pval_`var']
	}
matrix rownames Table1B = `allvars'
matrix colnames Table1B = Obs_el1 Control_mean_el1 Control_sd_el1 Obs_el2 Control_mean_el2 Control_sd_el2 Difference p_val
mat2txt, matrix(Table1B) saving("$outputdir/table1b.txt") replace


********************************************************************************
*************                   Table 2: Credit                   **************
********************************************************************************
use "$datadir/2013-0533_data_endlines1and2.dta", clear

*PANEL A: ENDLINE 1
est clear
foreach var in spandana_1 othermfi_1 anymfi_1 anybank_1	anyinformal_1  anyloan_1 everlate_1 mfi_loan_cycles_1 ///
			   spandana_amt_1 othermfi_amt_1 an

In [20]:
endlines = pd.read_stata(file_path)
len(endlines.columns)

187

In [21]:
hh_composition = ["hhsize", "adults", "children", "male_head", "head_age", "head_noeduc"]
credit_access = ["spandana", "othermfi", "anybank", "anyinformal", "anyloan"]
loan_amt = ["spandana_amt", "othermfi_amt", "bank_amt", "informal_amt", "anyloan_amt"]
self_emp_activ = ["total_biz", "female_biz_allHH", "female_biz_pct"]
businesses = ["bizrev", "bizexpense", "bizinvestment", "bizemployees", "hours_week_biz"]
businesses_allHH = ["bizrev_allHH", "bizexpense_allHH", "bizinvestment_allHH", "bizemployees_allHH", "hours_week_biz_allHH"]
consumption = ["total_exp_mo", "nondurable_exp_mo", "durables_exp_mo", "home_durable_index"]

# Combine all lists into a single list
allvars = (
    hh_composition
    + credit_access
    + loan_amt
    + self_emp_activ
    + businesses
    + businesses_allHH
    + consumption
)

In [22]:
# Define the variable lists
endlines_copy = endlines.copy()

businesses = ["bizrev", "bizexpense", "bizinvestment", "bizemployees", "hours_week_biz"]
additional_vars = ["female_biz"]
vars_to_process = businesses + additional_vars

# Loop through rounds (1 and 2)
for i in [1, 2]:
    for var in vars_to_process:
        var_col = f"{var}_{i}"
        allhh_col = f"{var}_allHH_{i}"
        total_biz_col = f"total_biz_{i}"
        
        # Create the _allHH_ version
        endlines_copy[allhh_col] = endlines_copy[var_col]
        
        # Set value to NaN if household did not run a business
        endlines_copy.loc[endlines_copy[total_biz_col] == 0, var_col] = np.nan

In [23]:
# Rename columns: varA_1 → varA1, varA_2 → varA2
for var in allvars:
    for suffix in ['1', '2']:
        old_name = f"{var}_{suffix}"
        new_name = f"{var}{suffix}"
        if old_name in endlines_copy.columns:
            endlines_copy.rename(columns={old_name: new_name}, inplace=True)

# Reshape to long format
# Assumes there's a unique household ID column like 'hhid'
df_long = pd.wide_to_long(endlines_copy, 
                          stubnames=allvars, 
                          i='hhid', 
                          j='endline', 
                          sep='', 
                          suffix='[12]').reset_index()

In [24]:
df_long = df_long[["hhid", "areaid", "endline", "treatment"] + allvars]
df_long_w_dummies = pd.get_dummies(df_long, columns=['endline'], prefix='endline')


endline_1 = df_long_w_dummies[df_long_w_dummies["endline_1"] == 1].copy()
endline_2 = df_long_w_dummies[df_long_w_dummies["endline_2"] == 1].copy()

endline_1["spandana"] = pd.to_numeric(endline_1["spandana"].map({"No":0, "Yes":1}))
endline_1["othermfi"] = pd.to_numeric(endline_1["othermfi"].map({"No":0, "Yes":1}))
endline_1["anybank"] = pd.to_numeric(endline_1["anybank"].map({"No":0, "Yes":1}))
endline_1["anyinformal"] = pd.to_numeric(endline_1["anyinformal"].map({"No":0, "Yes":1}))
endline_1["anyloan"] = pd.to_numeric(endline_1["anyloan"].map({"No":0, "Yes":1}))

endline_1_control =  endline_1[endline_1["treatment"] == "Control"]

endline_1_control.describe()

transpose_1 = endline_1_control.describe().T[["count", "mean", "std"]].reset_index()
transpose_1

                   index   count          mean            std
0                   hhid  3264.0   4083.673100    2101.773755
1                 areaid  3264.0     56.955270      29.556583
2                 hhsize  3264.0      5.645221       2.151706
3                 adults  3264.0      3.886642       1.754296
4               children  3264.0      1.737745       1.309517
5              male_head  3261.0      0.894511       0.307230
6               head_age  3257.0     41.148910      10.221965
7            head_noeduc  3256.0      0.311425       0.463147
8               spandana  3247.0      0.050508       0.219025
9               othermfi  3183.0      0.148602       0.355752
10               anybank  3247.0      0.079150       0.270014
11           anyinformal  3247.0      0.761010       0.426532
12               anyloan  3264.0      0.867341       0.339258
13          spandana_amt  3247.0    597.440715    2907.486334
14          othermfi_amt  3200.0   1806.025625    5917.835490
15              bank_amt  3247.0   8422.430551  101952.806949
16          informal_amt  3247.0  41044.622113   78032.523643
17           anyloan_amt  3264.0  59836.265012  133692.603196
18             total_biz  3236.0      0.502781       0.854296
19      female_biz_allHH  3209.0      0.185416       0.486949
20        female_biz_pct  1104.0      0.374870       0.451726
21                bizrev  1039.0  14700.013672   56350.039062
22            bizexpense  1071.0  12030.018555   51530.851562
23         bizinvestment  1127.0    785.494263    6805.927734
24          bizemployees  1103.0      0.379873       1.643839
25        hours_week_biz  1103.0    100.028105      69.869220
26          bizrev_allHH  3145.0   4856.379883   33108.468750
27      bizexpense_allHH  3177.0   4055.445312   30445.990234
28   bizinvestment_allHH  3231.0    280.068695    4037.973145
29    bizemployees_allHH  3209.0      0.130570       0.980211
30  hours_week_biz_allHH  3209.0     34.381739      62.727072
31          total_exp_mo  3248.0   6375.238770    4906.491211
32     nondurable_exp_mo  3230.0   5831.308594    4212.457520
33       durables_exp_mo  3230.0    550.785583    1623.464111
34    home_durable_index  3254.0      2.371234       0.861230
35             endline_1  3264.0      1.000000       0.000000
36             endline_2  3264.0      0.000000       0.000000

In [25]:
endline_2 = df_long_w_dummies[df_long_w_dummies["endline_2"] == 1].copy()

endline_2["spandana"] = pd.to_numeric(endline_2["spandana"].map({"No":0, "Yes":1}))
endline_2["othermfi"] = pd.to_numeric(endline_2["othermfi"].map({"No":0, "Yes":1}))
endline_2["anybank"] = pd.to_numeric(endline_2["anybank"].map({"No":0, "Yes":1}))
endline_2["anyinformal"] = pd.to_numeric(endline_2["anyinformal"].map({"No":0, "Yes":1}))
endline_2["anyloan"] = pd.to_numeric(endline_2["anyloan"].map({"No":0, "Yes":1}))

endline_2_control =  endline_2[endline_2["treatment"] == "Control"]

endline_2_control.describe()

transpose_2 = endline_2_control.describe().T[["count", "mean", "std"]].reset_index()
transpose_2

                   index   count          mean            std
0                   hhid  3264.0   4083.673100    2101.773755
1                 areaid  3264.0     56.955270      29.556583
2                 hhsize  2943.0      6.269113       2.547900
3                 adults  2943.0      4.038736       1.848216
4               children  2943.0      1.763846       1.321124
5              male_head  2938.0      0.811096       0.391499
6               head_age  2940.0     42.257823      10.153644
7            head_noeduc  2940.0      0.291837       0.454685
8               spandana  2943.0      0.111451       0.314743
9               othermfi  2943.0      0.268434       0.443220
10               anybank  2943.0      0.073055       0.260271
11           anyinformal  2943.0      0.603466       0.489261
12               anyloan  2943.0      0.904179       0.294395
13          spandana_amt  2943.0   1566.640029    5618.334663
14          othermfi_amt  2943.0   4775.059463   10735.600040
15              bank_amt  2943.0   6126.522659   40307.630998
16          informal_amt  2943.0  32355.986127   76704.161489
17           anyloan_amt  2943.0  88631.459735  144634.289260
18             total_biz  2943.0      0.560992       0.787134
19      female_biz_allHH  2943.0      0.234455       0.519578
20        female_biz_pct  1231.0      0.402723       0.454010
21                bizrev  1218.0  14065.568359   23712.701172
22            bizexpense  1218.0  12568.390625   30483.240234
23         bizinvestment  1231.0   2331.052002   14645.275391
24          bizemployees  1231.0      0.564582       2.937647
25        hours_week_biz  1231.0     88.467912      60.155155
26          bizrev_allHH  2930.0   5847.051758   16784.044922
27      bizexpense_allHH  2930.0   5224.675781   20603.003906
28   bizinvestment_allHH  2943.0   1007.315002    9622.613281
29    bizemployees_allHH  2943.0      0.236154       1.919777
30  hours_week_biz_allHH  2943.0     37.004417      58.462952
31          total_exp_mo  2943.0   8787.071289    6547.071777
32     nondurable_exp_mo  2943.0   8050.456055    5779.851562
33       durables_exp_mo  2941.0    719.891418    1536.458496
34    home_durable_index  2943.0      2.662229       0.827829
35             endline_1  3264.0      0.000000       0.000000
36             endline_2  3264.0      1.000000       0.000000

In [26]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

# Combine endline 1 and endline 2 control groups
endline_1_control = endline_1_control.copy()
endline_2_control = endline_2_control.copy()

endline_1_control["endline2"] = 0
endline_2_control["endline2"] = 1

df_ctrl_combined = pd.concat([endline_1_control, endline_2_control])

# List of binary vars you processed earlier
# Container for results
results = []

for var in allvars:
    row = {'index': var}

    # Drop missing values
    df_sub = df_ctrl_combined[["areaid", "endline2", var]].dropna()

    # Summary stats for each endline
    el1_vals = df_sub[df_sub["endline2"] == 0][var]
    el2_vals = df_sub[df_sub["endline2"] == 1][var]

   

    # Run regression with clustered SEs
    try:
        model = smf.ols(f"{var} ~ endline2", data=df_sub).fit(
            cov_type='cluster',
            cov_kwds={'groups': df_sub['areaid']}
        )
        row['Diff'] = model.params['endline2']
        row['P_Value'] = model.pvalues[-1]
    except Exception as e:
        row['Diff'] = np.nan
        row['P_Value'] = np.nan

    results.append(row)

# Create results table
summary_df = pd.DataFrame(results)
summary_df = summary_df[[
    'index', 'Diff', 'P_Value'
]]

In [27]:
summary_df[['Diff', 'P_Value']] = summary_df[['Diff', 'P_Value']].round(3)

In [28]:
summarys = transpose_1.merge(transpose_2, on="index", how = "inner")
full = summarys.merge(summary_df, on = "index", how="inner")

In [29]:
full = full.round(3).rename({"count_x":"Obs. (1)", "count_y":"Obs. (4)", "mean_x":"Mean (2)", "mean_y":"Mean (5)", "std_x":"SD (3)", "std_y":"SD (6)", "Diff":"Coeff. (7)"}, axis = 1)

In [30]:
full.set_index("index")

,Obs. (1),Mean (2),SD (3),Obs. (4),Mean (5),SD (6),Coeff. (7),P_Value
index,,,,,,,,
hhsize,3264.0,5.645,2.152,2943.0,6.269,2.548,0.624,0.000
adults,3264.0,3.887,1.754,2943.0,4.039,1.848,0.152,0.000
children,3264.0,1.738,1.310,2943.0,1.764,1.321,0.026,0.242
male_head,3261.0,0.895,0.307,2938.0,0.811,0.391,-0.083,0.000
head_age,3257.0,41.149,10.222,2940.0,42.258,10.154,1.109,0.000
head_noeduc,3256.0,0.311,0.463,2940.0,0.292,0.455,-0.020,0.017
spandana,3247.0,0.051,0.219,2943.0,0.111,0.315,0.061,0.000
othermfi,3183.0,0.149,0.356,2943.0,0.268,0.443,0.120,0.000
anybank,3247.0,0.079,0.270,2943.0,0.073,0.260,-0.006,0.476
anyinformal,3247.0,0.761,0.427,2943.0,0.603,0.489,-0.158,0.000
anyloan,3264.0,0.867,0.339,2943.0,0.904,0.294,0.037,0.000
spandana_amt,3247.0,597.441,2907.486,2943.0,1566.640,5618.335,969.199,0.000
othermfi_amt,3200.0,1806.026,5917.835,2943.0,4775.059,10735.600,2969.034,0.000
bank_amt,3247.0,8422.431,101952.807,2943.0,6126.523,40307.631,-2295.908,0.215
informal_amt,3247.0,41044.622,78032.524,2943.0,32355.986,76704.161,-8688.636,0.000
anyloan_amt,3264.0,59836.265,133692.603,2943.0,88631.460,144634.289,28795.195,0.000
total_biz,3236.0,0.503,0.854,2943.0,0.561,0.787,0.058,0.002
female_biz_allHH,3209.0,0.185,0.487,2943.0,0.234,0.520,0.049,0.000
female_biz_pct,1104.0,0.375,0.452,1231.0,0.403,0.454,0.028,0.083
bizrev,1039.0,14700.014,56350.039,1218.0,14065.568,23712.701,-634.446,0.722
bizexpense,1071.0,12030.019,51530.852,1218.0,12568.391,30483.240,538.372,0.767
bizinvestment,1127.0,785.494,6805.928,1231.0,2331.052,14645.275,1545.558,0.001
bizemployees,1103.0,0.380,1.644,1231.0,0.565,2.938,0.185,0.057
hours_week_biz,1103.0,100.028,69.869,1231.0,88.468,60.155,-11.560,0.000
bizrev_allHH,3145.0,4856.380,33108.469,2930.0,5847.052,16784.045,990.672,0.099
bizexpense_allHH,3177.0,4055.445,30445.990,2930.0,5224.676,20603.004,1169.230,0.082
bizinvestment_allHH,3231.0,280.069,4037.973,2943.0,1007.315,9622.613,727.246,0.000
bizemployees_allHH,3209.0,0.131,0.980,2943.0,0.236,1.920,0.106,0.008
hours_week_biz_allHH,3209.0,34.382,62.727,2943.0,37.004,58.463,2.623,0.051
total_exp_mo,3248.0,6375.239,4906.491,2943.0,8787.071,6547.072,2411.832,0.000
nondurable_exp_mo,3230.0,5831.309,4212.458,2943.0,8050.456,5779.852,2219.147,0.000
durables_exp_mo,3230.0,550.786,1623.464,2941.0,719.891,1536.458,169.106,0.000
home_durable_index,3254.0,2.371,0.861,2943.0,2.662,0.828,0.291,0.000