# ECON 148 Project

### Preliminary Data Cleaning for Replication

In [15]:
# Load in needed packages

import zipfile
import os
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from statsmodels.api import OLS, add_constant
from linearmodels.panel import PanelOLS
from statsmodels.stats.api import anova_lm

In [16]:
# Unzip zip file

zip_path = '../Data/113599-V1.zip'

extract_to = 'extracted_data'

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_to)

print(os.listdir(extract_to))

['2013-0533_do_figures.do', '2013-0533_data_endlines1and2.dta', '2013-0533_data_census.dta', '2013-0533_data_baseline.dta', '2013-0533_do_tables.do', '2013-0533_data_endline1businesstype.dta', 'Readme.pdf']

In [17]:
# Open .do files to understand how to replicate figures

with open(os.path.join(extract_to, '2013-0533_do_figures.do'), 'r') as f:
    content_figures = f.read()

# print(content_figures)

In [18]:
# Open .do files to understand how to replicate tables

with open(os.path.join(extract_to, '2013-0533_do_tables.do'), 'r') as f:
    content_tables = f.read()

print(content_tables[:5000])

/*******************************************************************************
Program Name: 	2013-0533_do_tables
Contact:  		Cynthia Kinnan (c-kinnan@northwestern.edu)
Last Modified: 	5 May 2014
Purpose: 		Replicates all tables from "The miracle of microfinance? Evidence
				from a randomized evaluation" (Banerjee et al.), AEJ, 2014
Files Used: 	2013-0533_data_baseline.dta
				2013-0533_data_endlines1and2.dta
				2013-0533_data_census.dta
				2013-0533_data_endline1businesstype.dta
Files Created:	table1a.txt
				table1b.txt
				table2.txt
				table3.txt
				table3b.txt
				table3c.txt
				table4.txt
				table5.txt
				table6.txt
				table7.txt
				table_index_pvals.txt
				tableA1.txt
				tableA2.txt
				tableA3.txt
				tableA4.txt
				tableA5.txt
*******************************************************************************/
cap log close
clear all
set more off
set mem 100m
pause on

*DATA DIRECTORY
global datadir "C:/Users/hreppst/Dropbox/Spandana/Paper/AEJ Final/Data/"

*OUTPUT DIRECTORY
global outputdir "C:/Users/hreppst/Dropbox/Spandana/Paper/AEJ Final/Data/Output"

*LOG FILE
log using 2013-0533_log_tables.smcl, replace

*CONTROLS FOR BASELINE VARIABLES
global area_controls "area_pop_base area_debt_total_base area_business_total_base area_exp_pc_mean_base area_literate_head_base area_literate_base"

cd "$outputdir"

********************************************************************************
*************        Table 1A: Baseline Summary Statistics        **************
********************************************************************************
use "$datadir/2013-0533_data_baseline.dta", clear

local hh_composition "hh_size adult children male_head head_age head_noeduc"
local credit_access "spandana othermfi bank informal anyloan"
local loan_amt "spandana_amt othermfi_amt bank_amt informal_amt anyloan_amt"
local self_emp_activ "total_biz female_biz female_biz_pct"
local businesses "bizrev bizexpense bizinvestment bizemployees hours_weekbiz"
local businesses_allHH "bizrev_allHH bizexpense_allHH bizinvestment_allHH bizemployees_allHH hours_weekbiz_allHH"
local consumption "total_exp_mo nondurable_exp_mo durables_exp_mo home_durable_index"

local allvars "`hh_composition' `credit_access' `loan_amt' `self_emp_activ' `businesses' `businesses_allHH' `consumption'"


*1) Generate variables for business outcomes for all households (replacing each
*	variable with 0 for households without a business):
foreach var in `businesses' {
	gen `var'_allHH=`var'
	replace `var'_allHH=0 if total_biz==0
	}

*2) Create summary statistics table:
scalar drop _all
foreach var of varlist `allvars' {
	sum `var' if treatment==0
	scalar `var'_N=r(N)
	scalar `var'_c=r(mean)
	scalar sd`var'_c=r(sd)
	reg `var' treatment, cluster(areaid)
	mat beta`var'=e(b)
	scalar `var'_d=beta`var'[1,1]
	test treatment=0
	scalar pval_`var'=r(p)
	matrix Table1A = [nullmat(Table1A) \ `var'_N, `var'_c, sd`var'_c, `var'_d, pval_`var']
	}
matrix rownames Table1A = `allvars'
matrix colnames Table1A = Obs Control_mean Control_sd Difference p_val
mat2txt, matrix(Table1A) saving("$outputdir/table1a.txt") replace


********************************************************************************
*************         Table 1B: Endline Summary Statistics        **************
********************************************************************************
use "$datadir/2013-0533_data_endlines1and2.dta", clear

local hh_composition "hhsize adults children male_head head_age head_noeduc"
local credit_access "spandana othermfi anybank anyinformal anyloan"
local loan_amt "spandana_amt othermfi_amt bank_amt informal_amt anyloan_amt"
local self_emp_activ "total_biz female_biz_allHH female_biz_pct"
local businesses "bizrev bizexpense bizinvestment bizemployees hours_week_biz"
local businesses_allHH "bizrev_allHH bizexpense_allHH bizinvestment_allHH bizemployees_allHH hours_week_biz_allHH"
local consumption "total_exp_mo nondurable_exp_mo durables_exp_mo home_durable_index"

local allvars "`hh_composition' `credit_access' `loan_amt' `self_emp_activ' `businesses' `businesses_allHH' `consumption'"


*1) Generate variables for business outcomes for all households (replacing each
*	variable with missing for households without a business):
forval i = 1/2 {
	foreach var in `businesses' female_biz {
			gen `var'_allHH_`i'=`var'_`i'
			replace `var'_`i'=. if total_biz_`i'==0
			}
	}

*2) Reshape to one observation per household per endline:
foreach var in `allvars' {
	rename `var'_1 `var'1
	rename `var'_2 `var'2
	}

reshape long `allvars', i(hhid) j(endline)
keep hhid areaid endline treatment `allvars'
tab endline, gen(endline)

*3) Create summary statistics table:
scalar drop _all
foreach var of varlist `allvars' {
	sum `var' if treatment==0 & endline==1
	scalar `var'_N_el1=r(N)
	scalar `var'_c_el1=r(mean)
	scalar sd`var'_c_el1=r(sd)

	sum `var' if treatment==0 & endline==2
	scalar `var'_N_el2=r(N)
	scalar `var'_c_el2=r(mean)
	scalar sd`var'_c_el2=r(sd)

In [19]:
# Create paths for .dta files
file_path = os.path.join(extract_to, '2013-0533_data_endlines1and2.dta')

file_path_2 = os.path.join(extract_to, '2013-0533_data_baseline.dta')

file_path_3 = os.path.join(extract_to, '2013-0533_data_census.dta')

file_path_4 = os.path.join(extract_to, '2013-0533_data_endline1businesstype.dta')

# Create DataFrames for the different .dta files
endlines = pd.read_stata(file_path)

baseline = pd.read_stata(file_path_2)

census = pd.read_stata(file_path_3)

endlines = pd.read_stata(file_path_4)

In [20]:
# First 5 rows of DataFrames

# endlines.head()

In [21]:
# baseline.head()

In [22]:
# census.head()

In [23]:
# endlines.head()

### Table 1A Replication

In [25]:
# Create groups for variables in baseline DataFrame

hh_composition = ["hh_size", "adults", "children", "male_head", "head_age", "head_noeduc"]
credit_access = ["spandana", "othermfi", "bank", "informal", "anyloan"]
loan_amt = ["spandana_amt", "othermfi_amt", "bank_amt", "informal_amt", "anyloan_amt"]
self_emp_activ = ["total_biz", "female_biz", "female_biz_pct"]
businesses = ["bizrev", "bizexpense", "bizinvestment", "bizemployees", "hours_weekbiz"]

# Create group for businesses variables
businesses_allHH = []

# Create variables for businesses variables representing 1 if total_biz is 1 and 0 if total_biz is 0
for var in businesses:
    new_var = f"{var}_allHH"
    businesses_allHH.append(new_var)
    baseline[new_var] = baseline[var]
    baseline.loc[baseline["total_biz"] == 0, new_var] = 0

# Create group for consumption variables

consumption = ["total_exp_mo", "nondurable_exp_mo", "durables_exp_mo", "home_durable_index"]

# Make list with all variables
allvars = hh_composition + credit_access + loan_amt + self_emp_activ + businesses + businesses_allHH + consumption

In [26]:
# Drop NAs

baseline = baseline[baseline['treatment'].notna()]
baseline = baseline.reset_index()

# Convert treatment to binary: 1 = Treatment, 0 = Control
baseline["treatment_binary"] = baseline["treatment"].astype(str).map({"Control": 0, "Treatment": 1})

In [27]:
# Convert categorical columns to object type first
baseline['spandana'] = baseline['spandana'].astype('object')
baseline['othermfi'] = baseline['othermfi'].astype('object')
baseline['bank'] = baseline['bank'].astype('object')
baseline['informal'] = baseline['informal'].astype('object')
baseline['anyloan'] = baseline['anyloan'].astype('object')

# Replace 'Yes' with 1, 'No' with 0
baseline['spandana'].replace({'Yes': 1, 'No': 0}, inplace=True)
baseline['othermfi'].replace({'Yes': 1, 'No': 0}, inplace=True)
baseline['bank'].replace({'Yes': 1, 'No': 0}, inplace=True)
baseline['informal'].replace({'Yes': 1, 'No': 0}, inplace=True)
baseline['anyloan'].replace({'Yes': 1, 'No': 0}, inplace=True)

# Fill NaN with -1
baseline['spandana'].fillna(-1, inplace=True)
baseline['othermfi'].fillna(-1, inplace=True)
baseline['bank'].fillna(-1, inplace=True)
baseline['informal'].fillna(-1, inplace=True)
baseline['anyloan'].fillna(-1, inplace=True)

In [28]:
import statsmodels.api as sm

# List of variables to include
vars_to_analyze = ['spandana', 'othermfi', 'bank', 'informal', 'anyloan']

# Prepare output list
table1a_binary_results = []

# Ensure binary treatment and areaid category
baseline['treatment_binary'] = baseline['treatment'].map({'Control': 0, 'Treatment': 1}).astype(int)
baseline['areaid'] = baseline['areaid'].astype('category')

for var in vars_to_analyze:
    temp = baseline[[var, 'treatment_binary', 'areaid']].copy()
    temp = temp[temp[var].isin([0, 1])]
    temp = temp.dropna(subset=[var, 'treatment_binary', 'areaid'])

    if temp.empty:
        table1a_results.append([None, None, None, None, None])
        continue

    control = temp[temp['treatment_binary'] == 0]
    N = control.shape[0]
    mean_c = control[var].mean()
    std_c = control[var].std()

    temp['const'] = 1.0
    model = sm.OLS(temp[var], temp[['const', 'treatment_binary']])
    results = model.fit(cov_type='cluster', cov_kwds={'groups': temp['areaid']})

    diff = results.params['treatment_binary']
    p_val = results.pvalues['treatment_binary']

    table1a_binary_results.append([N, mean_c, std_c, diff, p_val])

# Create results DataFrame
table1a_binary_df = pd.DataFrame(table1a_binary_results,
                          columns=["Obs", "Control_mean", "Control_sd", "Difference_in_mean", "P_val"],
                          index=vars_to_analyze)

table1a_binary_df

           Obs  Control_mean  Control_sd  Difference_in_mean     P_val
spandana  1213      0.000000    0.000000            0.006568  0.192208
othermfi  1213      0.010717    0.103010            0.006524  0.450831
bank      1213      0.036274    0.187047            0.001493  0.858449
informal  1213      0.632317    0.482373            0.001509  0.958114
anyloan   1213      0.680132    0.466618            0.002134  0.941766

In [29]:
import statsmodels.api as sm

# Define full list of variables you want to analyze
# (This must be defined earlier in your script)
# Example:
# allvars = ['income', 'savings', 'education', 'spandana', 'othermfi', ...]

# Binary vars to exclude
vars_to_analyze = ['spandana', 'othermfi', 'bank', 'informal', 'anyloan']

# Filter to continuous variables only
non_binary_vars = [var for var in allvars if var not in vars_to_analyze]

# Prepare output list
table1a_nonbinary_results = []


for var in non_binary_vars:
    temp = baseline[[var, 'treatment_binary', 'areaid']].copy()

    # Control group stats
    control = temp[temp['treatment_binary'] == 0]
    N = control.shape[0]
    mean_c = control[var].mean()
    std_c = control[var].std()

    # Regression
    temp['const'] = 1.0
    model = sm.OLS(temp[var], temp[['const', 'treatment_binary']])
    results = model.fit(cov_type='cluster', cov_kwds={'groups': temp['areaid']})

    # Extract results
    diff = results.params['treatment_binary']
    p_val = results.pvalues['treatment_binary']

    table1a_nonbinary_results.append([N, mean_c, std_c, diff, p_val])

# Create final results table
table1a_nonbinary_df = pd.DataFrame(table1a_nonbinary_results,
                          columns=["Obs", "Control_mean", "Control_sd", "Difference_in_mean", "P_val"],
                          index=non_binary_vars)
table1a_nonbinary_df

,Obs,Control_mean,Control_sd,Difference_in_mean,P_val
hh_size,1220,5.037705,1.666212,0.095082,0.300973
adults,1220,3.438525,1.465599,-0.011475,0.872767
children,1220,1.599180,1.228256,0.104098,0.095204
male_head,1220,0.907072,0.290450,NaN,NaN
head_age,1220,41.149671,10.839448,NaN,NaN
head_noeduc,1220,0.370066,0.483021,NaN,NaN
spandana_amt,1220,0.000000,0.000000,NaN,NaN
othermfi_amt,1220,201.154163,2742.363893,NaN,NaN
bank_amt,1220,7438.169827,173268.343989,NaN,NaN
informal_amt,1220,28460.016488,65312.155700,NaN,NaN
anyloan_amt,1220,37892.003298,191291.569163,NaN,NaN
total_biz,1220,0.319672,0.682205,-0.018852,0.577850
female_biz,1220,0.145082,0.400288,-0.006557,0.749191
female_biz_pct,1220,0.488281,0.482350,NaN,NaN
bizrev,1220,15990.644068,53488.748349,NaN,NaN
bizexpense,1220,3617.416016,26144.033203,NaN,NaN
bizinvestment,1220,384.711864,3156.815002,NaN,NaN
bizemployees,1220,0.169492,0.827925,NaN,NaN
hours_weekbiz,1220,76.315254,66.054443,NaN,NaN
bizrev_allHH,1220,3866.590164,27146.786829,903.649180,0.624753
bizexpense_allHH,1220,874.703064,12932.665039,116.496154,0.811432
bizinvestment_allHH,1220,93.024590,1559.052264,-0.098361,0.998827
bizemployees_allHH,1220,0.040984,0.413027,NaN,NaN
hours_weekbiz_allHH,1220,18.453279,46.053651,NaN,NaN
total_exp_mo,1220,4888.431152,4074.372070,269.682678,0.229419
nondurable_exp_mo,1220,4734.685367,3839.802498,251.819291,0.231833
durables_exp_mo,1220,153.745696,584.594145,17.863388,0.529815
home_durable_index,1220,1.941369,0.829068,0.026944,0.667981

In [30]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# Assume allvars is already defined
# Example:
# allvars = list(baseline.columns)

# Binary vars to exclude from this loop
binary_vars = ['spandana', 'othermfi', 'bank', 'informal', 'anyloan']
non_binary_vars = [var for var in allvars if var not in binary_vars]

# Store regression results here
table1a_nonbinary_results = []

for var in non_binary_vars:
    temp = baseline[[var, 'treatment_binary', 'areaid']].copy()

    # Drop rows with missing values to avoid crash
    temp = temp.dropna()

    # Control group stats
    control = temp[temp['treatment_binary'] == 0]
    N = control.shape[0]
    mean_c = control[var].mean()
    std_c = control[var].std()

    # Default values if regression fails
    diff = np.nan
    p_val = np.nan

    # Check if both treatment and variable have variation
    if temp[var].std() > 0 and temp['treatment_binary'].std() > 0:
        try:
            temp['const'] = 1.0
            model = sm.OLS(temp[var], temp[['const', 'treatment_binary']])
            results = model.fit(cov_type='cluster', cov_kwds={'groups': temp['areaid']})
            diff = results.params['treatment_binary']
            p_val = results.pvalues['treatment_binary']
        except:
            # You can print/log here if needed
            diff = np.nan
            p_val = np.nan
    else:
        # No variation = no regression → set safe defaults
        diff = 0.0
        p_val = 1.0

    table1a_nonbinary_results.append([N, mean_c, std_c, diff, p_val])

# Build final DataFrame
table1a_nonbinary_df = pd.DataFrame(
    table1a_nonbinary_results,
    columns=["Obs", "Control_mean", "Control_sd", "Difference_in_mean", "P_val"],
    index=non_binary_vars
)

# Optional: sort or save
# table1a_nonbinary_df.to_csv("table1a.csv")

# View the table
table1a_nonbinary_df

,Obs,Control_mean,Control_sd,Difference_in_mean,P_val
hh_size,1220,5.037705,1.666212,0.095082,0.300973
adults,1220,3.438525,1.465599,-0.011475,0.872767
children,1220,1.599180,1.228256,0.104098,0.095204
male_head,1216,0.907072,0.290450,-0.012249,0.379004
head_age,1216,41.149671,10.839448,-0.243498,0.675317
head_noeduc,1216,0.370066,0.483021,-0.007699,0.786380
spandana_amt,1213,0.000000,0.000000,68.965517,0.188973
othermfi_amt,1213,201.154163,2742.363893,170.356510,0.567014
bank_amt,1213,7438.169827,173268.343989,-5419.696920,0.276039
informal_amt,1213,28460.016488,65312.155700,-570.459838,0.855498
anyloan_amt,1213,37892.003298,191291.569163,-5878.555022,0.340750
total_biz,1220,0.319672,0.682205,-0.018852,0.577850
female_biz,1220,0.145082,0.400288,-0.006557,0.749191
female_biz_pct,295,0.488281,0.482350,-0.005593,0.903809
bizrev,295,15990.644068,53488.748349,4501.229172,0.537507
bizexpense,295,3617.416016,26144.033203,640.552420,0.749994
bizinvestment,295,384.711864,3156.815002,14.478276,0.958423
bizemployees,295,0.169492,0.827925,0.254537,0.144821
hours_weekbiz,295,76.315254,66.054443,-4.587339,0.411575
bizrev_allHH,1220,3866.590164,27146.786829,903.649180,0.624753
bizexpense_allHH,1220,874.703064,12932.665039,116.496154,0.811432
bizinvestment_allHH,1220,93.024590,1559.052264,-0.098361,0.998827
bizemployees_allHH,1220,0.040984,0.413027,0.057458,0.162884
hours_weekbiz_allHH,1220,18.453279,46.053651,-1.801105,0.398350
total_exp_mo,1220,4888.431152,4074.372070,269.682678,0.229419
nondurable_exp_mo,1220,4734.685367,3839.802498,251.819291,0.231833
durables_exp_mo,1220,153.745696,584.594145,17.863388,0.529815
home_durable_index,1220,1.941369,0.829068,0.026944,0.667981

In [31]:
# View the table
table1a_nonbinary_df

,Obs,Control_mean,Control_sd,Difference_in_mean,P_val
hh_size,1220,5.037705,1.666212,0.095082,0.300973
adults,1220,3.438525,1.465599,-0.011475,0.872767
children,1220,1.599180,1.228256,0.104098,0.095204
male_head,1216,0.907072,0.290450,-0.012249,0.379004
head_age,1216,41.149671,10.839448,-0.243498,0.675317
head_noeduc,1216,0.370066,0.483021,-0.007699,0.786380
spandana_amt,1213,0.000000,0.000000,68.965517,0.188973
othermfi_amt,1213,201.154163,2742.363893,170.356510,0.567014
bank_amt,1213,7438.169827,173268.343989,-5419.696920,0.276039
informal_amt,1213,28460.016488,65312.155700,-570.459838,0.855498
anyloan_amt,1213,37892.003298,191291.569163,-5878.555022,0.340750
total_biz,1220,0.319672,0.682205,-0.018852,0.577850
female_biz,1220,0.145082,0.400288,-0.006557,0.749191
female_biz_pct,295,0.488281,0.482350,-0.005593,0.903809
bizrev,295,15990.644068,53488.748349,4501.229172,0.537507
bizexpense,295,3617.416016,26144.033203,640.552420,0.749994
bizinvestment,295,384.711864,3156.815002,14.478276,0.958423
bizemployees,295,0.169492,0.827925,0.254537,0.144821
hours_weekbiz,295,76.315254,66.054443,-4.587339,0.411575
bizrev_allHH,1220,3866.590164,27146.786829,903.649180,0.624753
bizexpense_allHH,1220,874.703064,12932.665039,116.496154,0.811432
bizinvestment_allHH,1220,93.024590,1559.052264,-0.098361,0.998827
bizemployees_allHH,1220,0.040984,0.413027,0.057458,0.162884
hours_weekbiz_allHH,1220,18.453279,46.053651,-1.801105,0.398350
total_exp_mo,1220,4888.431152,4074.372070,269.682678,0.229419
nondurable_exp_mo,1220,4734.685367,3839.802498,251.819291,0.231833
durables_exp_mo,1220,153.745696,584.594145,17.863388,0.529815
home_durable_index,1220,1.941369,0.829068,0.026944,0.667981

In [32]:
# Find index position of 'head_age'
insert_loc = table1a_nonbinary_df.index.get_loc('head_noeduc') + 1

# Split the nonbinary table into two parts: before and after insertion point
top = table1a_nonbinary_df.iloc[:insert_loc]
bottom = table1a_nonbinary_df.iloc[insert_loc:]

# Combine with the binary df inserted in the middle
table1a_combined_df = pd.concat([top, table1a_binary_df, bottom])

# Optional: reset the index name if you want to make it cleaner for output
table1a_combined_df.index.name = 'Variable'

In [33]:
# Round all float values to 3 decimal places
table1a_combined_df = table1a_combined_df.round(3)

# View the result
table1a_combined_df

                      Obs  Control_mean  Control_sd  Difference_in_mean  P_val
Variable
hh_size              1220         5.038       1.666               0.095  0.301
adults               1220         3.439       1.466              -0.011  0.873
children             1220         1.599       1.228               0.104  0.095
male_head            1216         0.907       0.290              -0.012  0.379
head_age             1216        41.150      10.839              -0.243  0.675
head_noeduc          1216         0.370       0.483              -0.008  0.786
spandana             1213         0.000       0.000               0.007  0.192
othermfi             1213         0.011       0.103               0.007  0.451
bank                 1213         0.036       0.187               0.001  0.858
informal             1213         0.632       0.482               0.002  0.958
anyloan              1213         0.680       0.467               0.002  0.942
spandana_amt         1213         0.000       0.000              68.966  0.189
othermfi_amt         1213       201.154    2742.364             170.357  0.567
bank_amt             1213      7438.170  173268.344           -5419.697  0.276
informal_amt         1213     28460.016   65312.156            -570.460  0.855
anyloan_amt          1213     37892.003  191291.569           -5878.555  0.341
total_biz            1220         0.320       0.682              -0.019  0.578
female_biz           1220         0.145       0.400              -0.007  0.749
female_biz_pct        295         0.488       0.482              -0.006  0.904
bizrev                295     15990.644   53488.748            4501.229  0.538
bizexpense            295      3617.416   26144.033             640.552  0.750
bizinvestment         295       384.712    3156.815              14.478  0.958
bizemployees          295         0.169       0.828               0.255  0.145
hours_weekbiz         295        76.315      66.054              -4.587  0.412
bizrev_allHH         1220      3866.590   27146.787             903.649  0.625
bizexpense_allHH     1220       874.703   12932.665             116.496  0.811
bizinvestment_allHH  1220        93.025    1559.052              -0.098  0.999
bizemployees_allHH   1220         0.041       0.413               0.057  0.163
hours_weekbiz_allHH  1220        18.453      46.054              -1.801  0.398
total_exp_mo         1220      4888.431    4074.372             269.683  0.229
nondurable_exp_mo    1220      4734.685    3839.802             251.819  0.232
durables_exp_mo      1220       153.746     584.594              17.863  0.530
home_durable_index   1220         1.941       0.829               0.027  0.668